
* {
  box-sizing: border-box;
}

body {
  background: url('./img/painel.jpg')  center center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}


/* Overlay */
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

body * {
  z-index: 1;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  padding: 0px 10px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 1px 0px #fde3c2;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.countdown{
  width: 50%;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.time {
  display: flex;
  flex-direction: column;
}

.time h2 {
  font-size: 60px;
  margin: 30px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 1px 0px  #fde3c2;
}

.time small {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 1px 0px #fde3c2;
}

.grid-section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 100px;
}

/*-- Scroll --*/
.familly-lista {
  height: 340px;
  width: 400px;
  overflow-y: scroll;
  grid-column: 2;
  margin-right: 50px;
}

.familly-lista::-webkit-scrollbar {
  width: 10px;
}

.familly-lista::-webkit-scrollbar-thumb {
  background: #f89c21;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.familly-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

@media (max-width: 720px) {
  h1 {
    font-size: 30px;
  }

  .grid-section {
    padding: 1px;
    grid-gap: 1px;
  }

  .countdown{
    flex-direction: column;
    padding: 1px;
    grid-gap: 1px;
    margin-left: 30px;
  }

  .time {
    margin: 5px;
    flex-direction: column-reverse;
    padding: 10px 0px 0px;
  }
  
  .time h2 {
    font-size: 25px;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 1px 0px  #fde3c2;
  }

  .time small {
    gap: 100px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 1.5px 1.5px 1px 0px  #fde3c2;
  }

  .familly-lista {
    height: 480px;
    margin-top: 40px;
  } 
}