
:root {
  
  --foreground: 0, 0, 0;
  --background-start: 514, 100, 150;
  --background-end: 955, 255, 155;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end))
    )
    rgb(var(--background-start));

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body * {
  font-family:'Courgette';
  z-index: 1; 
}

h1 {
  justify-content: center;
  margin: 0 auto;
  width: 70%;

  font-size: 5vw;
  padding: 10% 5% 2% 5%;
  border-radius: 10px;
  box-shadow: 0px 3px 0px 0px #fde3c2;
}

.countdown{
  padding: 5% 0% 10% 0%;
  margin: 0 auto;
  display: flex;
  grid-gap: 20px;
}

.time {
  display: flex;
  flex-direction: column;
}

.time h2 {
  font-family: 'Roboto';
  font-size: 60px;
  margin: 30px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 1px 0px  #fde3c2;
}

.time small {
  font-family: 'Roboto';
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 1px 0px #fde3c2;
}

.grid-section {
  box-sizing: border-box;
  display: flex;
}

.swiper {
  width: 70%;
  margin-bottom: 10%;
}

.swiper h2 {
  border-radius: 10px 10px 0px 0px;
  font-size: 4vw;
  background-color: deeppink;
  border-radius: 10;
}

.swiper-slide {
  background-color: deeppink;
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper button {
  width: 50px;
  height: 50px;

  color: deeppink;
  background-color: transparent;
  border: none;
  outline: none;
  transition: opacity 0.25s;
}

.swiper button:hover {
  opacity: 0.8;
}

.swiper button::before,
.swiper button::after {
  font-size: 24px;
}

.swiper-button-prev {
  left: 25px;
}

.swiper-button-next {
  right: 25px;
}

.swiper-pagination-bullet {
  background-color: deeppink;
}

/*-- Scroll --*/
.familly-lista {
  height: 340px;
  width: 400px;
  overflow-y: scroll;
  grid-column: 2;
  margin-right: 50px;
}

.familly-lista::-webkit-scrollbar {
  width: 10px;
}

.familly-lista::-webkit-scrollbar-thumb {
  background: #f89c21;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.familly-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

@media (max-width: 720px) {
  h1 {
    margin-top: 10%;
  }

  .countdown {
    margin-top: 5%;
  }
   
  .time h2 {
    font-size: 20px;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0px  #fde3c2;
  }

  .time small {
    text-transform: uppercase;
    margin-top: 10px;
    padding: 5px;
    font-size: 10px;
    box-shadow: 1px 1px 1px 0px  #fde3c2;
  }
}