
:root {
  
  --foreground: 0, 0, 0;
  --background-start: 514, 200, 150;
  --background-end: 100, 0, 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end))
    )
    rgb(var(--background-start));

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body * {
  font-family:'Courgette';
  z-index: 1; 
}

.countdown-text h1 {
  line-height: 100%;

  font-size: 7vw;
}

.countdown-text p {
  font-size: 2.5vw;
}

.countdown{
  align-items: center;
  padding: 5%;
  margin: 0 auto;
  display: flex;
  grid-gap: 20px;
}

.time {
  display: flex;
  flex-direction: column;
}

.time h2 {
  font-family: 'Roboto';
  font-size: 60px;
  margin: 30px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 1px 0px  #fde3c2;
}

.time small {
  font-family: 'Roboto';
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 1px 0px #fde3c2;
}

.grid-section {
  box-sizing: border-box;
  display: flex;
}

/*-- Scroll --*/
.familly-lista {
  height: 340px;
  width: 400px;
  overflow-y: scroll;
  grid-column: 2;
  margin-right: 50px;
}

.familly-lista::-webkit-scrollbar {
  width: 10px;
}

.familly-lista::-webkit-scrollbar-thumb {
  background: #f89c21;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.familly-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

@media (max-width: 720px) {

  .countdown {
    margin-top: 5%;
  }
   
  .time h2 {
    font-size: 20px;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0px  #fde3c2;
  }

  .time small {
    text-transform: uppercase;
    margin-top: 10px;
    padding: 5px;
    font-size: 10px;
    box-shadow: 1px 1px 1px 0px  #fde3c2;
  }
}